<nav class="navbar">
    <div class="container">
        <ul class="nav-links">
            <li class="nav-link">
                <a href="/">Krummbel</a>
            </li>
            <li class="nav-link">
                <a href="/tecnologias">Tecnologias</a>
            </li>
            <li class="nav-link">
                <a href="/sobremim">Sobre mim</a>
            </li>
            <li class="nav-link">
                <a href="https://github.com/KrummbelElixo">Github</a>
            </li>
        </ul>
    </div>
</nav>